@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Idroid';
    src: format(open type), url(fontes/idroid.otf);
}



body {
    background-color: #E8E7C2;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}



header {
    background-image: linear-gradient(to top, rgb(0, 78, 0) 10%, rgb(27, 119, 27), rgb(110, 168, 110));
    padding: 20px;
    margin: 0px;
}


header > h1 {

     text-align: center;
     font-family: 'Bebas Neue';
     font-weight: bolder;
     color: white;
     text-align: center;
     text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
}


header > p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.199);
}


nav {
    background-color: rgb(0, 78, 0);
    padding: 10px
}


nav > a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.788);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.329);
    text-decoration: none;
}


nav > a:hover {
    color: rgba(24, 68, 24, 0.822);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.144);
    background-color: rgba(230, 230, 230, 0.589);
    padding: 5px 8px; 
    border-radius: 5px;
}


#pagina {
    padding: 1px 50px 100px 50px;
    margin: 0px 70px 0px 70px;
    background-color: #FAFFFC;
    box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.315);
}


mark {
    background-color: #23a5685d;
    padding: 3px;
}


#fonth1 {
    text-align: center;
    text-align: left;
    color: #0D3C26;
    font-family: 'Idroid';
}

#pagina > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}


.fontidr {
    text-align: center;
    text-align: left;
    color: #0D3C26;
    font-family: 'Idroid';
}


.estilop {
    color: #0D3C26;
    font-weight: bolder;
    text-decoration: none;
}


#destaq {
    color: #0D3C26;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
}


#video {
    background-color: #0D3C26;
    padding: 15px 30px
}


article {
    background-color: #2FA866;
    width: 909px;
    padding: 2px 2px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}


article > p {
    font-weight: bold;
    color: white;
}


article > div {
    font: arial;
    background-color: #C5EBD6;
    padding: 20px;
}
