@charset "UTF-8";

body {
    background-color: #5F4FEB;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: #26205e;
}

h1#principal{
    text-align: center;
    background-color: #5144C7;
    color: white;
}

h2 {
    color: #302875;
}

.basico {
    color: #7fd177;
    font-weight: bold;
}

.intermediario {
    color: #cbd177;
}

.avancado {
    color: #d17777;
}